.caption-colors {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $color-fill;

  &-container {

    p {
      text-align: center;
      color: $color-bg;
      font-weight: 300;
    }
  }
}