* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-main;
  font-size: $font-size;
  background-color: $color-bg;
  line-height: 26px;
}

.cars__btn {
  font-weight: 300;
  // margin-top: auto;
  text-decoration: none;
  color: $color-fill;
  transition: all 0.2s;

  @include md-min {
    padding: 20px;
    border: 2px solid $color-fill;
    font-size: 0.875rem;
  }

  &:hover,
  &:focus {
    background-color: $color-fill;
    color: $color-bg;
  }
}
