.content-container {
  display: flex;
  flex-direction: column;
  margin: auto;

  @include lg-min {
    max-width: 800px;
  }
  @include lg-md {
    max-width: calc(800px - 50px);
  }
  @include md {
    align-items: center;
  }

  &__description {
    position: relative;
    padding: 40px 20px 30px 20px;
    opacity: 0.85;
    background-color: $color-bg;

    @include md-min {
      width: calc(50% - 50px);
    }
    @include md-sm {
      width: 70%;
    }
    @include sm {
      margin-left: 30px;
      margin-right: 30px;
      text-align: center;
    }

    h2 {
      padding-bottom: 30px;
      font-weight: 500;
      line-height: 48px;

      @include lg-min {
        font-size: 3rem;
      }
      @include lg-md {
        font-size: 2.5rem;
      }
      @include md {
        font-size: 2rem;
        text-align: center;
      }
    }

    p {
      line-height: 26px;
      font-weight: 300;
      &:last-child {
        padding-top: 30px;
      }

      @include sm {
        line-height: 20px;
      }
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 80%;
      height: 20px;
      transform: translateY(-50%);
      background-color: $color-fill;
    }
  }
}
