.marvellous-metallics-colour {
  position: relative;
  min-height: 100vh;

  &-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: 50% 0;
    background-size: cover;
  }

  &-container {
    top: 40%;
  }

  &-items {
    top: 140%;

    &-block__link {
      bottom: -15%;
    }
  }

}