.footer {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding-top: 100px;
  // padding-bottom: 50px;

  &-description {
    margin-bottom: 50px;

    p {
      line-height: 19.5px;
    }
  }

  &-btn {
    margin-bottom: 90px;
    a {
      background-color: $color-light;
    }
  }

  &-avaible {
    margin-bottom: 30px;

    p {
      color: $color-light;
      font-size: 0.875rem;
    }
  }
}
