.hero {
  position: relative;
  min-height: 70vh;

  background-position: 50% 50%; 
  background-size: cover;

  &-container {
    position: absolute;
    top: 20%;
    left: 10%;
    display: flex;
    flex-direction: column;

    &__caption {
      position: absolute;
      min-width: 350px;
      background-color: #54616B;
      
    }
    &__slogan {
      position: absolute;
      background-color: #ffffff;
      min-width: 460px;
      opacity: 0.85;
    }
  }
}