//fonts variables
$font-main: "Montserrat", sans-serif;
$font-size: 16px;

//size-variables
$ul: 2560px;
$xl: 1440px;
$lg: 1025px;
$md: 769px;
$sm: 426px;
$content-container: 800px;

//skin-variables
$color-fill: #54616b;
$color-bg: #ffffff;
$color-text: #000000;